<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wacom.drawsimple"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
    Note: This code can work with a minSdkVersion=1 if the two
    "XXX" comments in CanvasView.java are heeded. Please build
    with an API level 14 compiler or better.
    -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wacom.drawsimple.DrawActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>